    body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}
    .name-highlight {
    font-size: 50px;
    color: #FC427B;
    font-family: 'Ubuntu', sans-serif;
}
    h1 {
    font-size: 40px;
    font-weight: 400;
}
    h2 {
    font-size: 35px;
    font-weight: 700;
    }
    p {
    color: #2d3436;
}
    .half-side {
    width: 40%;
    float: left;
    margin: 4%;
    padding: 1%;

}
    .half-side img {
    width: 100%;
    height: 100%;
}
section {
    height: 750px;
}
.half-side a {
    text-decoration: none;
    background: linear-gradient(45deg,#e84393, #FC427B);
    padding: 8px 18px;
    border-radius: 4px;
    color: white;
    font-weight: 700;
}
.half-side a:hover {
    color: #f1f1f1;
    padding-bottom: 15px;
}
    .header-bg {
        background-image: url("images/header-bg.png");
        background-repeat: no-repeat;
    }
    .biography-bg {
        background-image: url("images/biography-bg.png");
        background-repeat: no-repeat;
    }
    .my-work{
        text-align: center;
    }
    .work-list {
        width: 30%;
        float: left;
        margin: 1%;
    }
    .work-list img {
        width: 100%;
    }
    .bottom-side {
        text-align: center;
        align-items: center;
        background-image: url(images/footer-bg.png);
        background-repeat: no-repeat;
    }
    .client {
        padding: 20px 0;
    }
    .client-comment p {
        padding: 20px 50px;
        font-size: 18px;
        color: black;
        margin: 5% 20%;
    }
    .contact {
        background: linear-gradient(45deg,#e84393, #FC427B);
        color: white;
        padding: 20px 0;
        border-radius: 8px;
        margin: 5% 20%;
    }
    .contact p {
        color: #f1f1f1;
    }
    footer {
        text-align: center;
        color: darkslategrey;
        padding-bottom: 50px;
    }